**/out/
**/OUT/
**/out1/
**/.vs/
**/build/
**/BUILD/
**/install
**/INSTALL

**/.vscode/

**/CMakeCache.txt
**/CMakeLists.txt.user
**/CMakeLists.txt.user.*

**/.cache/
**/compile_commands.json

**/*.bak
**/*.bak_*
**/*.vpp.lck

**/build-*-Debug/
**/build-*-Release/
